*,*:before,*:after{
    margin: 0;
    padding:0 ;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 325px;
    gap: 20px;

}
.cell{
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: rgb(111, 57, 57);
    transition: 0.5s;
}
/*Cell 1*/

.cell:nth-child(1){
    background-color: #27ae60;

}
.cell:nth-child(1):hover, .on{
    transform: scale(1.05);
}
.cell:nth-child(1):active,.on{
    background-color:#76408e;

}

/*Cell 2*/
.cell:nth-child(2){
    background-color:#253b50;

}
.cell:nth-child(2):hover, .on{
    transform: scale(1.05);
}
.cell:nth-child(2):active,.on{
    background-color:#37424d;

}
/*Cell 3*/
.cell:nth-child(3){
    background-color:#f1c40f;

}
.cell:nth-child(3):hover, .on{
    transform: scale(1.05);
}
.cell:nth-child(3):active,.on{
    background-color:#f1c40f;

}
/*Cell 4*/
.cell:nth-child(4){
    background-color:#c0392b;

}
.cell:nth-child(4):hover, .on{
    transform: scale(1.05);
}
.cell:nth-child(4):active,.on{
    background-color:#c0392b;

}
button{
    background-color: rgb(54, 82, 82);
    color: purple;
    padding: 1em;
}
button:hover{
    background-color: #496988;
}